<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <p>토큰 발급 : POST localhost:3000/api/auth/token?key={your_key}</p>
    <p>토큰 체크 : POST localhost:3000/api/auth/check?token={your_token}</p>
    
    <% for (let value of getData()) { %>
        <%- value %>
    <% } %>
</body>
</html>